<table mat-table [dataSource]="cows" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Health index Column -->
    <ng-container matColumnDef="healthIndex">
        <th mat-header-cell *matHeaderCellDef>Health index</th>
        <td mat-cell *matCellDef="let element">{{ element.healthIndex }}</td>
    </ng-container>

    <!-- End date Column -->
    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End date</th>
        <td mat-cell *matCellDef="let element">
            {{ element.endDate * 1000 | date: "medium" }}
        </td>
    </ng-container>

    <!-- Min value datetime Column -->
    <ng-container matColumnDef="minValueDateTime">
        <th mat-header-cell *matHeaderCellDef>Min value datetime</th>
        <td mat-cell *matCellDef="let element">
            {{ element.minValueDateTime * 1000 | date: "medium" }}
        </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Cow ID Column -->
    <ng-container matColumnDef="cowId">
        <th mat-header-cell *matHeaderCellDef>Cow ID</th>
        <td mat-cell *matCellDef="let element">{{ element.cowId }}</td>
    </ng-container>

    <!-- Animal ID Column -->
    <ng-container matColumnDef="animalId">
        <th mat-header-cell *matHeaderCellDef>Animal ID</th>
        <td mat-cell *matCellDef="let element">{{ element.animalId }}</td>
    </ng-container>

    <!-- Event ID Column -->
    <ng-container matColumnDef="eventId">
        <th mat-header-cell *matHeaderCellDef>Event ID</th>
        <td mat-cell *matCellDef="let element">{{ element.eventId }}</td>
    </ng-container>

    <!-- Deletable Column -->
    <ng-container matColumnDef="deletable">
        <th mat-header-cell *matHeaderCellDef>Deletable</th>
        <td mat-cell *matCellDef="let element">{{ element.deletable }}</td>
    </ng-container>

    <!-- Lactation Number Column -->
    <ng-container matColumnDef="lactationNumber">
        <th mat-header-cell *matHeaderCellDef>Lactation Number</th>
        <td mat-cell *matCellDef="let element">
            {{ element.lactationNumber }}
        </td>
    </ng-container>

    <!-- Days in Lactation Column -->
    <ng-container matColumnDef="daysInLactation">
        <th mat-header-cell *matHeaderCellDef>Days in Lactation</th>
        <td mat-cell *matCellDef="let element">
            {{ element.daysInLactation }}
        </td>
    </ng-container>

    <!-- Age in days Column -->
    <ng-container matColumnDef="ageInDays">
        <th mat-header-cell *matHeaderCellDef>Age in days</th>
        <td mat-cell *matCellDef="let element">
            {{ element.ageInDays }}
        </td>
    </ng-container>

    <!-- Start datetime Column -->
    <ng-container matColumnDef="startDateTime">
        <th mat-header-cell *matHeaderCellDef>Start datetime</th>
        <td mat-cell *matCellDef="let element">
            {{ element.startDateTime * 1000 | date: "medium" }}
        </td>
    </ng-container>

    <!-- Reporting datetime Column -->
    <ng-container matColumnDef="reportingDateTime">
        <th mat-header-cell *matHeaderCellDef>Reporting datetime</th>
        <td mat-cell *matCellDef="let element">
            {{ element.reportingDateTime * 1000 | date: "medium" }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!--

      "healthIndex": 77,
      "endDate": null,
      "minValueDateTime": 1514840400,
      "type": "systemHealth",
      "cowId": 910,
      "animalId": "961",
      "eventId": 34716,
      "deletable": false,
      "lactationNumber": 0,
      "daysInLactation": 770,
      "ageInDays": 770,
      "startDateTime": 1514836800,
      "reportingDateTime": 1514843103
-->
