.header {
    text-align: center;
    padding-top: 2rem;
}

p {
    font-size: 1rem;
    text-align: center;
    color: darkcyan;
}

table {
    width: 100%;
    .mat-header-cell,
    .mat-cell {
        text-align: center;
        justify-content: center;
    }
    &.add-cow-form {
        padding-bottom: 3rem;
        .mat-form-field {
            max-width: 120px;
        }
    }
    &.grid {
        .mat-form-field-wrapper {
            width: 50px;
        }
        td {
            position: relative;
            .mat-icon {
                &.clear {
                    position: absolute;
                    top: 12px;
                    right: 0px;
                    cursor: pointer;
                }
            }
        }
    }
}

.mat-icon {
    cursor: pointer;
}
